extends layout1 
block content 
  section.lib 
    .container 
      h2 Thank you for shopping with us 
      p Produce Name : #{sale.cropName.cropName}
      p Tonnage  : #{sale.tonnage}
      p Amount Paid : #{sale.amountPaid}
      p Buyer's Name : #{sale.buyersName}
      p Sales Agent : #{sale.agentName}
      p Date of Sale : #{moment(sale.date)}
      p 
        a(href='/salesList') Back
